body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;        
    min-height: 100vh;
}                    
#__next {
    display: flex;
    flex-direction: column;     
    min-height: 100vh;
}

header {
    display: none;
}
main {
    display: none;
}
footer {
    display: none;
}

.line {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .line {
        max-width: 1200px;
    }
}
